{% extends 'base.html' %}

{% block content %}
    <section>
        <h4>Login</h4>
        <form action="{% url 'user_login' %}" method="post">
            {% csrf_token %}
            <div>
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div>
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <p><button type="submit" name="submit">Login</button></p>
        </form>
    </section>
{% endblock content %}